.decombtn {
  font-family: "Barlow", sans-serif;
  font-size: 22px !important;
  font-weight: 400 !important;
  color: #fff;
  margin: 0;
  height: 50px;
  padding: 0 14px;
  border: none;
  border-radius: 8px;
  background-color: #262626;
  transition: 0.4s;
}
.decombtn:hover {
  color: #262626;
  background-color: #fff;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .decombtn {
    font-size: 16px !important;
    height: 39px;
    padding: 0 10px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .decombtn {
    font-size: 16px !important;
    height: 42px;
    padding: 0 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* design start */

  .decombtn {
    font-size: 16px !important;
    height: 42px;
    padding: 0 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .decombtn {
    font-size: 16px !important;
    height: 42px;
    padding: 0 10px;
  }
}

/* Extra large devices ( extra large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .decombtn {
    font-size: 18px !important;
    height: 42px;
    padding: 0 10px;
  }
}
/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) and (max-width: 1550px) {
  .decombtn {
    font-size: 18px !important;
    height: 42px;
    padding: 0 10px;
  }
}
@media (min-width: 1551px) and (max-width: 1700px) {
  .decombtn {
    font-size: 18px !important;
    height: 42px;
    padding: 0 10px;
  }
}
